In [3]:
import numpy as np
import pandas as pd
from numpy_financial import npv

In [8]:
revenue = [50.122, 52.747, 52.857, 56.189, 56.517, 62.020, 61.858, 64.727]

In [9]:
revenue

[50.122, 52.747, 52.857, 56.189, 56.517, 62.02, 61.858, 64.727]

In [11]:
pd.DataFrame(
    data={'Q323': [1,2,3]},
    index=['Revenue', 'COGS', 'Gross profit']
)

              Q323
Revenue          1
COGS             2
Gross profit     3

In [ ]:
npv()